


*{
	margin:0px;
	padding:0px;
	scroll-behavior: smooth;
  
   }
  
   html {
	font-family: "Rubik", sans-serif;
	scroll-behavior: smooth;
	background-color:#ededed;
  }
  
  
  .btn-card a{
	  color:white;
	  text-decoration:none;
  }
  
  .chat{
	position:fixed;
	 top:83%;
	 display:flex;
	 justify-content:right;
	 align-items:right;
	left:20px;
	z-index: 99999;
	
	}
	
	.chat-text{
	background-color:white;
	width:110px;
	text-align:center;
	border-radius:8px;
	line-height:1.7;
	font-weight:500;
	 height:27px;
	 display:none;
  
	}
	
	.whatsapp-img{
	border-radius:100px;
	height:50px;
	 width:50px;
	margin-top:-9px;
	animation: scaleUp 3s ease-in-out infinite;
	}
  
  
  .scrollTop{
	position:fixed;
	bottom:30px;
	right:100px;
	background-color: black;
	color:white;
	cursor: pointer;
	transition: all 0.5s ease 0s;
	z-index: 9999;
	padding: 10px;
	border-radius:30px;
  }
  
   /* END OF  SCROLL TO TOP STYLE RULES */
  
   
   .home-img{
	width:100%;
	z-index:-10;
	}
	
  .smallie{
   width:100%;
   overflow:hidden;
   
  }
  
  .small-screen-img{
   position:relative;
   top:130px;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
  }
  
  
   /* menu and drop down STYLE RULES */
   .toggle,
   [id^=drop] {
	 display: none;
  
   }
   
  
  /* Giving a background-color to the nav container. */
  nav { 
	  margin:0;
	  padding: 0;
	  background-color: #e4e4e4;
   position:fixed;
	  width:100%;
	  z-index:9999999999999999;
  }
  
  .menu-card{
	  margin-top:15px;
	  z-index:9999999999999999;
 
  }
  
  
  #logo img{
	  margin-top:5px;
	  width:80px;
  }
  /* Since we'll have the "ul li" "float:left"
   * we need to add a clear after the container. */
  
  nav:after {
	  content:"";
	  display:table;
	  clear:both;
  }
  
  /* Removing padding, margin and "list-style" from the "ul",
   * and adding "position:reltive" */
  nav ul {
	  float: right;
	  padding:0;
	  margin:0;
	  list-style: none;
	  position: relative;
	  
	  }
	  
  /* Positioning the navigation items inline */
  nav ul li {
	  margin: 0px;
	  display:inline-block;
	  float: left;
	  background-color: black;
	   width:100%;
	  
	  }
  
  /* Styling the links */
  nav a {
	  display:block;
	  padding:14px 20px;	
	  color:#FFF;
	  font-size:17px;
	  text-decoration:none;
  }
  
  
  nav ul li ul li:hover { background: #000000; }
  
  /* Background color change on Hover */
  nav a:hover { 
	  background-color: #000000; 
  }
  
  /* Hide Dropdowns by Default
   * and giving it a position of absolute */
  nav ul ul {
	  display: none;
	  position: absolute; 
	  /* has to be the same number as the "line-height" of "nav a" */
	  top: 60px; 
  }
	  
  /* Display Dropdowns on Hover */
  nav ul li:hover > ul {
	  display:inherit;
  }
	  
  /* Fisrt Tier Dropdown */
  nav ul ul li {
	  width:100%;
	  float:none;
	  display:list-item;
	  position: relative;
  }
  
  /* Second, Third and more Tiers	
   * We move the 2nd and 3rd etc tier dropdowns to the left
   * by the amount of the width of the first tier.
  */
  nav ul ul ul li {
	  position: relative;
	  top:-60px;
	  /* has to be the same number as the "width" of "nav ul ul li" */ 
	  left:170px; 
	  
  }
  
	  
  /* Change ' +' in order to change the Dropdown symbol */
  li > a:after { content:  ' +'; }
  li > a:only-child:after { content: ''; }
  
  
  /* Media Queries
  --------------------------------------------- */
  
  @media all and (max-width : 768px) {
  
	  #logo {
		  display: block;
		  padding: 0;
		  width: 100%;
		  text-align: center;
		  float: none;
	  }
  
	  nav {
		  margin: 0;
	  }
  
	  /* Hide the navigation menu by default */
	  /* Also hide the  */
	  .toggle + a,
	  .menu {
		  display: none;
	  }
  
	  /* Stylinf the toggle lable */
	  .toggle {
		  display: block;
		  background-color: #161515;
		  padding:14px 20px;	
		  color:#FFF;
		  font-size:17px;
		  text-decoration:none;
		  border:none;
	  }
  
	  .toggle:hover {
		  background-color: #161515;
	  }
  
	  /* Display Dropdown when clicked on Parent Lable */
	  [id^=drop]:checked + ul {
		  display: block;
	  }
  
	  /* Change menu item's width to 100% */
	  nav ul li {
		  display: block;
		  width: 100%;
		  }
  
	  nav ul ul .toggle,
	  nav ul ul a {
		  padding: 0 40px;
	  }
  
	  nav ul ul ul a {
		  padding: 0 80px;
	  }
  
	  nav a:hover,
	   nav ul ul ul a {
		  background-color: #000000;
	  }
	
	  nav ul li ul li .toggle,
	  nav ul ul a,
	nav ul ul ul a{
		  padding:14px 20px;	
		  color:#FFF;
		  font-size:17px; 
	  }
	
	
	  nav ul li ul li .toggle,
	  nav ul ul a {
		  background-color: #212121; 
	  }
  
	  /* Hide Dropdowns by Default */
	  nav ul ul {
		  float: none;
		  position:static;
		  color: #ffffff;
		  /* has to be the same number as the "line-height" of "nav a" */
	  }
		  
	  /* Hide menus on hover */
	  nav ul ul li:hover > ul,
	  nav ul li:hover > ul {
		  display: none;
	  }
		  
	  /* Fisrt Tier Dropdown */
	  nav ul ul li {
		  display: block;
		  width: 100%;
	  }
  
	  nav ul ul ul li {
		  position: static;
		  /* has to be the same number as the "width" of "nav ul ul li" */ 
  
	  }
  
  }
  
  @media all and (max-width : 330px) {
  
	  nav ul li {
		  display:block;
		  width:100%;
	  }
  
  }
  
	/* END OF menu and drop down STYLE RULES */
  
  /* HOMEPAGE */
  
  .homepage{
  position:absolute;
  color:white;
   height:350px;
  padding:70px;
   top:200px;
  }
  
  .home-text{
   margin-top:80px;
   text-align:center;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   z-index:999;
  }
  
  .home-text p{
   padding-bottom:15px;
   font-size:19px;
  }
  
  .home-text h1{
   padding-bottom:20px;
   font-size:25px;
	padding-top:15px;
  }
  
  hr{
   width:50px;
   background-color:black;
   height:2px;
   border:none;
  }
  
  
  
  .btn-card{
  text-align:center;
	border:3px solid black;
   width:130px;
   line-height:2.3;
   border-radius:20px;
   background-color:black;
   color:white;
   font-weight:bold;
   font-size:15px;
  }
  
  /* DETAILS */
  
  .details{
   padding-top:300px;
	padding-bottom:150px;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
  }
  
  .details-text-card{
	display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
	padding-top:30px;
  }
  
  .details-text-card p{
   padding:30px;
   text-align:center;
  }
  
  .details-text-card h1{
	padding-top:15px;
  }
  
  
  .details-img-card img{
   width:100%;
  }
  
  
  .details-img-card{
   width:70%;
  overflow:hidden;
   
  }
  
  
  
  
  
  
  
  
  
  
  
  
   
  /* CAPTURED */
  
  .captured{
	display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
  }
  
  .captured h1{
	padding-bottom:20px;
  }
  
   
  .capture-mother{
	display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   gap:50px;
	padding-top:70px;
	padding-bottom:70px;
  }
  
  .captured-box{
	display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
	padding-bottom:20px;
  }
  
  .cap-img-card img{
   width:100%;
  }
  
  .cap-img-card{
	width:95%;
   height:300px;
   overflow:hidden;
  }
  
  .captured-box h4{
   padding-top:40px;
   
  }
  
  .captured-box p{
   padding-top:20px;
   padding-bottom:20px;
	  width:80%;
	  text-align:center;
  }
  
  
  
  /* ABOUT */
  
  .about{
	 padding:70px;
   background-image: url('/assets/images/service\ img.jpg') !important;
   background-blend-mode: overlay;
   background-size: cover;
	 background-repeat: no-repeat;
  background-color:rgba(6, 6, 6, 0.626);
  color:white;
	 }
  
  .about-text-card{
   position:relative;
   left:-40px;
   padding:15
  }
  
  .about-text-card p{
	padding-top:30px;
   padding-bottom:40px;
  }
  
  .about-text-card h1{
   padding-bottom:30px;
  }
  
  
  
  /* PORTFOLIO */
  
   .portfolio{
	  padding-top:80px;
   padding-bottom:40px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
   }
  
  .port-card{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
  }
  
  .port-text-card{
   display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
  }
  
  .port-img-card{
   display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	 padding-top:40px;
	   padding-bottom:40px;
  }
  
  
  .port-text-card h1{
   font-size:30px;
	padding-bottom:40px;
	padding:40px;
  }
  
  .port-text-card p{
	padding:30px;
   padding-bottom:20px;
  }
  
  .row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
	background-color:rgba(0, 0, 0, 0.849);
	justify-content:center;
  
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	vertical-align: middle;
	width: 100%;
  }
  
  
  
  
  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (min-width: 768px) {
	.column {
	  -ms-flex: 18%;
	  flex: 18%;
	  max-width: 18%;
	 
	}
  
  
  }
  
  
  
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  -ms-flex: 100%;
	  flex: 100%;
	  max-width: 100%;
	}
  }
	  
	  
	 
  
  
  
  /* FAQ STYLE RULES */
  
  #faq{
	padding-bottom:70px;
	 padding-top:70px;
   }
   
   #faq h1{
	 padding-bottom:10px;
	text-align:center;
   }
  
   #faq p{
	 padding:25px;
	text-align:center;
  
   }
   
   .faq-mother{
	 background-color:black;
	 color:white;
	 border-radius:5px;
	margin:0px;
   padding-bottom:15px;
	padding-top:15px;
   }
   
   .faq-mother hr{
	background-color:white;
	width:100%;
	border:none;
	height:1px;
   }
   
   .faq-header{
	 padding:10px;
	 font-size:14px;
	 cursor:pointer;
	 position:relative;
  
   }
   
   
   .faq-header::after{
	 content:"\002B";
	 font-size:20px;
	position:absolute;
	 right:1rem;
	top:5px;
	color:#e4e4e4;
   }
   
   .faq-header.active::after{
	content:"\2212";
   }
   
   .faq-answer-content{
	padding:15px;
	  font-size:14px;
	border-top:1px solid black;
	border-image:linear-gradient(to right,yellow,white,yellow)1; 
   }
   
   .faq-answer{
	max-height:0;
	overflow:hidden;
	transition: max-height 0.2s ease-out;
   }
   
   .faq-header.active + .faq-answer{
	max-height:1000px;
   }
   
   /* END OF FAQ STYLE RULES */
   
  
  
  
  /*FOOTER*/
   footer{
	background-color:black;
	color:white;
	padding:30px;
	text-align:center;
	
   }
  
  footer h2{
   padding-top:20px;
  }


